.AboutMe {
  background-color: #282c34;
  flex: 1;
  justify-content: center;
}

.AboutMe-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 0px;
  padding-bottom: 20px;
  font-size: calc(50px + 2vmin);
  line-height: calc(75px + 2vmin);
  font-weight: bolder;
  color: white;
}

.AboutMe-Intro-Para{
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-size: calc(10px + 2vmin);
  line-height: calc(25px + 2vmin);
}

.AboutMe-Para{
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px;
  padding-bottom: 60px;
  font-size: calc(5px + 2vmin);
  line-height: calc(25px + 2vmin);
}